<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/foundation.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    I'm home.erb
    <div id="app"></div>
    <script src="/bundle.js"></script>
  </body>
</html>
